/* COLORS */

// defines the color of success elements
// [primary = "BG" & secondary = "Border"]
$primary-green: #5cb85c;
$secondary-green: #449d44;

// defines the color of primary elements
// [primary = "BG" & secondary = "Border"]
$primary-blue: #337ab7;
$secondary-blue: #2e6da4;

// defines the color of danger elements
// [primary = "BG" & secondary = "Border"]
$primary-red: #d9534f;
$secondary-red: #c9302c;