/* DEFAULT */
$white: #fff;

/* BUTTONS */
$bg-success: $primary-green;
$bg-success-hover: $secondary-green;

$border-success: #4cae4c;
$border-success-hover: #398439;

$bg-primary: $primary-blue;
$bg-primary-hover: $secondary-blue;

$border-primary: #286090;
$border-primary-hover: #204d74;

$bg-danger: $primary-red;
$bg-danger-hover: $secondary-red;

$border-danger: #d43f3a;
$border-danger-hover: #ac2925;

$bg-info: #5bc0de;
$bg-info-hover: #31b0d5;
  
$border-info: #46b8da;
$border-info-hover: #269abc;